<footer class="footer footer-four">
    <div class="primary-footer brand-bg text-center">
        <div class="container">

          <a href="#top" class="page-scroll btn-floating btn-large pink back-top waves-effect waves-light" data-section="#top">
            <i class="material-icons">&#xE316;</i>
          </a>

          <ul class="social-link tt-animate ltr mt-20">
            <li><a href="https://www.facebook.com/afinishes/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/company-beta/13249993/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/afinishes/"><i class="fa fa-instagram"></i></a></li>
          </ul>

          <hr class="mt-15">

          <div class="row">
            <div class="col-md-12">
                  <div class="footer-logo">
                    <img src="{{ "/images/whitelogo-300.png" | prepend: site.baseurl }}" alt="">
                  </div>

                  <span class="copy-text">Copyright &copy; 2017 <a href="/">AFinishes</a> &nbsp; | &nbsp;  All Rights Reserved &nbsp;</span>
                  <div class="footer-intro">
                    <p>We are architects who understand materials and how they work with your space, turning your imagination into reality.</p>
                  </div>
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.primary-footer -->

    <div class="secondary-footer brand-bg darken-2 text-center">
        <div class="container">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="{{ site.baseurl }}/cretex">Cretex</a></li>
              <li><a href="{{ site.baseurl }}/bespoke">Bespoke</a></li>
              <li><a href="{{ site.baseurl }}/furnicrete">Furnicrete</a></li>
              <li><a href="{{ site.baseurl }}/about">About Us</a></li>
              <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            </ul>
        </div><!-- /.container -->
    </div><!-- /.secondary-footer -->
</footer>


<!-- Preloader -->
<div id="preloader">
  <div class="preloader-position"> 
    <img src="{{ site.baseurl }}/images/logo-300.png" alt="logo" >
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>
<!-- End Preloader -->