<div class="portfolio-item" data-groups='["all", "marketing", "websites"]'> 
    <div class="portfolio-wrapper">

        <div class="thumb">
            <a href="{{ include.item.link }}">
            <div class="bg-overlay brand-overlay"></div>
            
            <img src="{{ include.item.image }}" alt="">
            </a>

            <div class="portfolio-intro">
            <div class="action-btn">
                <a href="{{ include.item.link }}"> <i class="fa fa-link"></i> </a>
            </div>
            </div>

        </div>

        <div class="portfolio-title">
            <h2><a href="#">{{ include.item.name }}</a></h2>
        </div>

    </div><!-- /.portfolio-wrapper -->
</div><!-- /.portfolio-item -->