<!-- jQuery -->
        
        <script src="{{ "/assets/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/materialize/js/materialize.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/js/jquery.sticky.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/js/smoothscroll.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/js/menuzord.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/js/bootstrap-tabcollapse.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/js/scripts.js" | prepend: site.baseurl }}"></script>
        
        