<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="materialize is a material design based mutipurpose responsive template">
        <meta name="keywords" content="material design, card style, material template, portfolio, corporate, business, creative, agency">
        <meta name="author" content="trendytheme.net">
        <title>{% if page.metaTitle %}{{ page.metaTitle }}{% else %}{{ site.title }}{% endif %} | AFinishes</title>
<!--  favicon -->
        <link rel="shortcut icon" href="{{ "/assets/img/ico/favicon.png" | prepend: site.baseurl }}">
        <!--  apple-touch-icon -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/img/ico/apple-touch-icon-144-precomposed.png" | prepend: site.baseurl }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/assets/img/ico/apple-touch-icon-114-precomposed.png" | prepend: site.baseurl }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/img/ico/apple-touch-icon-72-precomposed.png" | prepend: site.baseurl }}">
        <link rel="apple-touch-icon-precomposed" href="{{ "/assets/img/ico/apple-touch-icon-57-precomposed.png" | prepend: site.baseurl }}">

        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,900' rel='stylesheet' type='text/css'>
        <!-- FontAwesome CSS -->
        <link href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
        <!-- Material Icons CSS -->
        <link href="{{ "/assets/fonts/iconfont/material-icons.css" | prepend: site.baseurl }}" rel="stylesheet">
        <!-- magnific-popup -->
        <link href="{{ "/assets/magnific-popup/magnific-popup.css" | prepend: site.baseurl }}" rel="stylesheet">
        <!-- owl.carousel -->
        <link href="{{ "/assets/owl.carousel/assets/owl.carousel.css" | prepend: site.baseurl }}" rel="stylesheet">
        <link href="{{ "/assets/owl.carousel/assets/owl.theme.default.min.css" | prepend: site.baseurl }}" rel="stylesheet">
        <!-- flexslider -->
        <link href="{{ "/assets/flexSlider/flexslider.css" | prepend: site.baseurl }}" rel="stylesheet">
        <!-- materialize -->
        <link href="{{ "/assets/materialize/css/materialize.min.css" | prepend: site.baseurl }}" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="{{ "/assets/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
        <!-- shortcodes -->
        <link href="{{ "/assets/css/shortcodes/shortcodes.css" | prepend: site.baseurl }}" rel="stylesheet">
        <!-- flaticon -->
        <link href="{{ "/assets/fonts/flaticon/flaticon.css" | prepend: site.baseurl }}" rel="stylesheet">
        <!-- Style CSS -->
        <link href="{{ "/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">

        <!-- RS5.0 Main Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ "/assets/revolution/css/settings.css" | prepend: site.baseurl }}">
        <!-- RS5.0 Layers and Navigation Styles -->
        <link rel="stylesheet" type="text/css" href="{{ "/assets/revolution/css/layers.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" type="text/css" href="{{ "/assets/revolution/css/navigation.css" | prepend: site.baseurl }}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>