    <section class="section-padding">
            <div class="container">

              <div class="text-center mb-80">
                  <h2 class="section-title text-uppercase">Who we are</h2>
                  <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam. Nulla ac nisi rhoncus,</p>
              </div>

              <div class="row">
                <div class="col-md-12">

                    <div class="icon-tab">
                      <!-- Tab panes -->
                      <div class="panel-body mt-40">
                        <div class="tab-content">
                          <div role="tabpanel" class="tab-pane fade in active" id="icontab-1">

                            <div class="row">
                              <div class="col-md-6">
                                  <h2 class="text-bold mb-40">About us</h2>
                                  <p>Beauty lies in the detail. In the skin deep. We chisel away the solid at <strong>AFINISHES</strong> to create depths and dimensions for the sophisticated connoisseur. With combined efforts of skilled visual artists and craftsmen, we carefully create statement pieces that have scope to extend to the extraordinary.
It is important that every space is engineered to give balance whether in practicality, aesthetics or both. Our focus is to create the best possible product which satisfies the customer’s need and feasibility.</p>
                              </div>

                              <div class="col-md-6">
                                  <img src="{{ site.baseurl }}images/To%20Cut%20(3).jpg" alt="image" class="img-responsive">
                              </div>
                            </div>
                          </div>

                        
                        </div>
                      </div>
                      
                    </div><!-- /.icon-tab -->

                </div><!-- /.col-md-12 -->
              </div><!-- /.row -->

            </div><!-- /.container -->
        </section>