<section class="section-padding gray-bg">
            <div class="container">

              <div class="text-center mb-80">
                  <h2 class="section-title text-uppercase">What we do</h2>
                  <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam. Nulla ac nisi rhoncus,</p>
              </div>

              <div class="row equal-height-row">

                  <div class="col-md-4 mb-30">
                    <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE32A;</i>
                        </div>
                        <div class="desc">
                            <h2>We are creative</h2>
                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
                        </div>
                    </div><!-- /.featured-item -->
                  </div><!-- /.col-md-4 -->


                  <div class="col-md-4 mb-30">
                    <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE0BF;</i>
                        </div>
                        <div class="desc">
                            <h2>We are awesome</h2>
                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
                        </div>
                    </div><!-- /.featured-item -->
                  </div><!-- /.col-md-4 -->


                  <div class="col-md-4 mb-30">
                    <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE323;</i>
                        </div>
                        <div class="desc">
                            <h2>We are Taltented</h2>
                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
                        </div>
                    </div><!-- /.featured-item -->
                  </div><!-- /.col-md-4 -->


                  <div class="col-md-4">
                    <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE32A;</i>
                        </div>
                        <div class="desc">
                            <h2>We are secured</h2>
                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
                        </div>
                    </div><!-- /.featured-item -->
                  </div><!-- /.col-md-4 -->


                  <div class="col-md-4">
                    <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE149;</i>
                        </div>
                        <div class="desc">
                            <h2>We are awesome</h2>
                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
                        </div>
                    </div><!-- /.featured-item -->
                  </div><!-- /.col-md-4 -->


                  <div class="col-md-4">
                    <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE0C9;</i>
                        </div>
                        <div class="desc">
                            <h2>We are Taltented</h2>
                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
                        </div>
                    </div><!-- /.featured-item -->
                  </div><!-- /.col-md-4 -->                                  
              </div><!-- /.row -->

            </div><!-- /.container -->
        </section>